@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundBanner {
  background-image: linear-gradient(120deg, #0b19dbec, #04bfe5ab),
    url("../Images/surveyBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
